@import "tailwindcss";
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));


html {
  scroll-behavior: smooth;
}

@keyframes gradient-slide {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

.animate-gradient-slide {
  background-size: 200% 200%;
  animation: gradient-slide 3s ease infinite;
}
